@font-face {
	font-family: "Google Sans Code";
	src:
		url("../fonts/google_sans/GoogleSansCode-Regular.woff2") format("woff2"),
		url("../fonts/google_sans/GoogleSansCode-Regular.woff") format("woff"),
		url("../fonts/google_sans/GoogleSansCode-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Google Sans Code";
	src:
		url("../fonts/google_sans/GoogleSansCode-Medium.woff2") format("woff2"),
		url("../fonts/google_sans/GoogleSansCode-Medium.woff") format("woff"),
		url("../fonts/google_sans/GoogleSansCode-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Parkin Sans";
	src:
		url("../fonts/parkinsans/Parkinsans-Light.woff2") format("woff2"),
		url("../fonts/parkinsans/Parkinsans-Light.woff") format("woff"),
		url("../fonts/parkinsans/Parkinsans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Parkin Sans";
	src:
		url("../fonts/parkinsans/Parkinsans-Regular.woff2") format("woff2"),
		url("../fonts/parkinsans/Parkinsans-Regular.woff") format("woff"),
		url("../fonts/parkinsans/Parkinsans-Regular.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Parkin Sans";
	src:
		url("../fonts/parkinsans/Parkinsans-Medium.woff2") format("woff2"),
		url("../fonts/parkinsans/Parkinsans-Medium.woff") format("woff"),
		url("../fonts/parkinsans/Parkinsans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Parkin Sans";
	src:
		url("../fonts/parkinsans/Parkinsans-SemiBold.woff2") format("woff2"),
		url("../fonts/parkinsans/Parkinsans-SemiBold.woff") format("woff"),
		url("../fonts/parkinsans/Parkinsans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Parkin Sans";
	src:
		url("../fonts/parkinsans/Parkinsans-Bold.woff2") format("woff2"),
		url("../fonts/parkinsans/Parkinsans-Bold.woff") format("woff"),
		url("../fonts/parkinsans/Parkinsans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Parkin Sans";
	src:
		url("../fonts/parkinsans/Parkinsans-ExtraBold.woff2") format("woff2"),
		url("../fonts/parkinsans/Parkinsans-ExtraBold.woff") format("woff"),
		url("../fonts/parkinsans/Parkinsans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
