@import "@onyx/tailwind-config";

:root {
    --bg-primary: linear-gradient(rgb(250, 230, 255), rgb(240, 220, 255));
    --text-primary: #121212;
    --fill-primary: #121212;
    --scroll-primary: rgb(30 27 75);
    --nav-hover-text: rgb(220, 210, 255);
    --nav-hover-bg: #121212;
}


[data-theme="dark"] {
    --bg-primary: #121212;
    --text-primary: rgb(220, 210, 255);
    --fill-primary: rgb(220, 210, 255);
    --scroll-primary: #c3dafe;
    --nav-hover-text: #121212;
    --nav-hover-bg: rgb(220, 210, 255);
}

[data-theme="dark"] #switch-button {
    justify-content: end;
}

[data-theme="dark"] #switch-icon {
    transform: rotate(180deg);
}

html {
    font-family: var(--font-google-sans);
    background: var(--bg-primary);
    color: var(--text-primary);

    user-select: none;

    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#switch-svg {
    fill: var(--fill-primary);
}